@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
$colorBrownRoofLight: #FF4500;
$colorBrownRoofDark: #FF4500;

$colorGreyLight: #805300;
$colorGreyNormal: #D18800;
$colorGreyDark: #FFA600;
$colorBackground: #2C2F36;

$colorShadowBrown: #FFA600;
$colorShadowBrownLight: #FFC559;

$colorWindowGrey: #534d4d;

$roofGradient: linear-gradient(150deg,$colorBrownRoofLight,$colorBrownRoofDark);
$sceneGradient: linear-gradient(#1D2B49,#1A45A0,#91cdff,#fff);

@mixin size($w,$h:$w,$bdrs:0) {
	width: $w;
  height: $h;
  border-radius: $bdrs;
}
  

@mixin flex($j:center,$a:center) {
	display: flex;
  justify-content: $j;
  align-items: $a;
}
  
  
@mixin abpos($l:initial,$t:initial) {
	position: absolute;
  left: $l;
  top: $t;
}
  

*,
*::after,
*::before {
	position: relative;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	@include flex;
	background: $colorBackground;
	color: #fff;
}

.scene {
	@include size(700px, 500px, 15px);
	background-image: $sceneGradient;
	background-size: 100% 300%;
	overflow: hidden;
}



.build {
	position: absolute;
	bottom:0;
	right:0;
	transform:scale(0.95);
}

[class ^= "house"] {
	position: absolute;
	bottom: 0;
	right: 0;
}

.house1 {
	@include size(180px, 200px);
	@include flex;
	background-color: $colorGreyLight;
	box-shadow: inset -50px 0 $colorGreyNormal;
	z-index:1;
	.window {
		@include size(40px,100px,20px);
		@include flex;
		flex-direction: column;
		background-color: $colorGreyNormal;
		box-shadow: inset 8px 5px $colorGreyDark;
		.circle {
			@include size(20px,20px,50%);
			margin: 4px;
			margin-left: 10px;
			background-color: $colorWindowGrey;
		}
	}
}

.house2 {
	@include size(240px,170px);
	right: 130px;	
	background-color: $colorGreyLight;
	box-shadow: inset 0 15px $colorShadowBrownLight, inset -72px 0 $colorGreyNormal;
	z-index:2;
	.door {
		@include size(40px,80px, 20px 20px 0 0);
		position: absolute;
		bottom: 0;
		left: 45px;
		background-color: $colorBackground;
		box-shadow: inset 10px 2px $colorShadowBrown;
	}
}

.house3 {
	@include size(320px, 300px);
	@include flex;
	z-index: 0;
	
	.wall {
		flex: 1;
		height: 100%;
		@include flex(center, flex-start);
		
		.window {
			@include size(24px, 50px, 12px 12px 0 0);
			margin-top: 30px;
			background-color: $colorBackground;
		}
		
		@mixin wall($flex,$color,$s:0,$z:0) {
			flex: $flex;
			background-color: $color;
			&::after {
				content: "";
				display:block;
				@include size(105%, 20px);
				position: absolute;
				top: -20px;
				background-color: inherit;
				z-index: $z;
				box-shadow: 0 0 10px rgba(black, .1);
			}
			.window {
				box-shadow: inset $s 2px $colorShadowBrownLight;
			}
		}
		
		&:nth-child(1) {
			@include wall(10,$colorGreyLight,8px);
		}
		
		&:nth-child(2) {
			@include wall(14,$colorGreyNormal,0,1);
		}
		
		&:nth-child(3) {
			@include wall(10,$colorGreyDark,-8px);
		}
	}
	
	@mixin halfCir($r) {
		@include size($r*2,$r,$r $r 0 0);
	}
	
	.roof {
		@include halfCir(150px);
		position: absolute;
		top: -170px;
		background-image: $roofGradient;
			}
		}




.allStars {
	@include size(100%);
	position: absolute;
	top:0;
	left:0;
}

@for $i from 1 through 50 {
	.stars#{$i} {
		@include size(3px,3px,50%);
		background-color: #fff;
		$x: random()*100%;
		$y: random()*-80%+60%;
		@include abpos($x,$y);
		animation: falling 2s infinite;
		animation-delay: #{$i*-0.1}s;
	}
}

@keyframes falling {
	0%,100% {
		opacity:0;
	}
	70% {
		opacity:1;
	}
	
	0% {
		transform: translate(80px, 0);
	}
	
	100% {
		transform: translate(0, 100px);
	}
}

.remind {
	color: rgba(#fff,.5);
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.day {
	display: none;
}

.sun,.moon {
	@include size(80px,80px,50%);
	// background-color: #fff;
	position: absolute;
	top:100px;
	left: 240px;
}



.moon {
	box-shadow: inset 20px -10px #fff;
	animation: moonlight .3s linear;
	opacity:1;
}

@keyframes moonlight {
	0% {
		box-shadow: inset 0 0 #fff;
	}
	
	100% {
		box-shadow: inset 20px -10px #fff;
	}
}

* {
	transition: 2s;
}
